<header class="header">
    <img class="logo" src="images/Logo_LaCuisine.png" alt="La Cuisine logo">
    <a [class.open]="navActive()" (click)="toggleNav()" class="toggleMenu"><mat-icon>menu</mat-icon></a>
    <nav [class.active]="navActive()" class="navbar">
        <a routerLink="/" routerLinkActive="Active">Home</a>
        <a routerLink="/menu">Menu</a>
        <a routerLink="/reservations">Reservations</a>
        <a routerLink="/contact">Contact</a>
        <a class="login-button" (click)="onLoginClick()">Login</a>
    </nav>
</header>
