* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: transparent;

}

app-login {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}