<div class="overlay" *ngIf="loginService.isLoginVisible()">
    <div class="container">
        <div class="panel" #panelRef>
            <h2 #panelH2Ref>{{texts.heading}}</h2>
            <p #panelPRef>{{texts.paragraph}}</p>
            <button class="toggle" (click)="click()" #panelButtonRef>{{texts.button}}</button>
        </div>
        <div class="formsContainer">
            <div class="form signUp hide" #signUpRef>
                <form class="signUpForm" action="">
                    <legend>Cadastre-se</legend>
                    <label for="name">Nome Completo</label>
                    <input type="text" name="name" id="name" placeholder="Nome Completo" required>

                    <label for="cpf">Digite seu CPF</label>
                    <input type="number" name="cpf" id="cpf" placeholder="CPF" required>

                    <label for="celular">Celular</label>
                    <input type="number" name="celular" id="celular" placeholder="(xx)12345-6789" required>

                    <label for="email">Digite seu email</label>
                    <input type="text" name="email" id="email" placeholder="name@email.com" required>

                    <label for="password">Digite sua senha</label>
                    <input type="password" name="password" id="password" placeholder="Digite sua senha" required>

                    <label for="confirmPassword">Confirme sua senha</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme sua senha" required>

                    <button><a href="#"></a>Cadastre-se</button>

                    <span class="signUpSpan"></span>
                </form>
            </div>
            <div class="form signIn" #signInRef>
                <form class="signInSpan" action="#">
                    <legend>Entrar</legend>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="LoginEmail" placeholder="name@email.com" required>

                    <label for="password">Senha</label>
                    <input type="password" name="password" id="LoginPassword" placeholder="Digite sua senha" required>

                    <button><a href="#"></a>Entrar</button>
                    <span class="signInSpan"></span>
                </form>
            </div>
        </div>
    </div>
</div>