<section class="top">
    <div class="background"></div>
    <div class="filter">
        <div class="topText">
            <h1>Bem Vindo</h1>
            <h2>La Cuisine</h2>
        </div>
    </div>
</section>
<section class="about">
    <div class="text">
        <h2>Nossa Hisatória</h2>
        <p>Inaugurado em 2004, o La Cuisine se tornou um refúgio da autêntica culinária francesa em São Paulo, combinando o requinte da gastronomia francesa com a hospitalidade brasileira. Desde 2021, sob nova direção, o restaurante foi renovado e se dedica a oferecer uma experiência gastronômica onde tradição e inovação se encontram, tudo guiado pela nossa tríade essencial: experiência, paixão e sabor.</p>
        <p>Em um ambiente inspirado na elegância dos bistrôs franceses, o La Cuisine apresenta um cardápio aprimorado que celebra os sabores da França em cada prato. De suculentas carnes nobres a saladas frescas, passando por clássicos pratos quentes da culinária francesa, como o coq au vin e o bouillabaisse, até uma delicada seleção de sobremesas, cada criação é uma homenagem ao savoir-faire francês, sempre combinando ingredientes locais e frescos.</p>
        <p>Nossa carta de vinhos, cuidadosamente selecionada, completa essa experiência, proporcionando uma harmonização que transporta os paladares mais exigentes para os charmosos vinhedos da França. No La Cuisine, não servimos apenas uma refeição, mas uma jornada sensorial onde o sabor conta histórias e a paixão pela gastronomia é celebrada em cada detalhe. Venha descobrir o sabor autêntico da França, com um toque acolhedor do Brasil.</p>
    </div>
    <div class="images">
        <img src="/images/aboutIMG1.png" alt="">
        <img src="/images/aboutIMG2.png" alt="">
    </div>
</section>
<section class="locations"></section>
